.uxui-heroimg {
    background-color: $theme_primary;
    //position: absolute;
    background-image: url('../../public/assets/images/logos/UI_Animation_Blue.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 100%;
}

.cover-page {
    animation: fadeIn ease-in-out 700ms, dropIn ease-in-out 700ms;
    background: $theme_accent;
    //height: calc(100vh - 72px);
    display: grid;
    //grid-template-rows: 6fr 1fr;
    place-items: center;

    .cover {
        background: $theme_primary;
        min-height: calc(335px + (#{$marginH} * 2));
        overflow: hidden;
        position: relative;
        width: 100%;

        .centered-group {
            bottom: 0;
            height: 350px;
            left: 50%;
            position: absolute;
            transform: translate(-50%, 0);
            width: 360px;

            &:nth-of-type(2) {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        .my-name {
            color: white;
            font-size: 1.625rem;
            font-weight: 650;
            letter-spacing: 0.1em;
            text-align: center;
            text-transform: uppercase;
            white-space: nowrap;
        }

        .big-letters {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            place-items: center;

            div {
                color: $bright-orange;
                //font-size: 2rem;
                font-size: 72px;
                font-weight: 300;
            }
        }

        .contact-info {
            align-items: center;
            color: $theme_text;
            display: flex;
            flex-direction: column;
            font-size: 1rem;
            font-weight: 300;
            gap: 12px;
            justify-content: space-between;
            letter-spacing: 0.15em;
            padding: 0 1.5rem;
            text-transform: uppercase;
            div:nth-child(2) {
                display: none;
            }
        }

        .ball-1 {
            /*background: linear-gradient(to bottom, var(--secondary), var(--dark));*/
            background-color: #B5401B;
            border-radius: 50%;
            bottom: -50px;
            display: none;
            height: 40vw;
            max-height: 225px;
            max-width: 225px;
            /*This is approx 70% opacity of var secondary*/
            opacity: 1;
            position: absolute;
            right: -75px;
            width: 40vw;
        }
    }

    h1 {
        font-size: 8vw;
        padding-bottom: 1vw;
        white-space: nowrap;
    }

    h2 {
        font-size: 5vw;
        white-space: nowrap;
    }
}
section.who-i-am, section.what-i-do {
    padding: 3em 0;
    h3 {
        color: $theme_text;
        font-size: 48px;
        font-weight: 600;
        margin-bottom: .75em;
        text-transform: none
    }
}

section.what-i-do {

    >table {
        align-items: space-between;
        display: flex;
        flex-wrap: wrap;
        gap: 72px;
        justify-content: space-around;
        >tbody,
        >tbody>tr {
            display: contents;

            >td {
                align-items: center;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                gap: 8px;

                table td {
                    color: $bright-orange;
                    font-size: 96px;
                    font-weight: 300;
                    padding: 0 8px;
                    width: 96px;
                }

                h4 {
                    font-size: 24px;
                    font-weight: 600;
                    letter-spacing: 0.15em;
                    margin: 0;
                    text-transform: uppercase;
                }

                a {
                    align-items: center;
                    color: $theme_text;
                    display: flex;
                    font-size: 18px;
                    font-weight: 600;
                    gap: 16px;
                    height: 38px;
                    justify-content: center;
                    text-decoration: none;
                    width: 100%;
                    &::after,
                    &::before {
                        border-right: solid 3px rgba($theme_text, .5);
                        border-top: solid 3px rgba($theme_text, .5);
                        content: '';
                        height: 12px;
                        left: 0px;
                        position: relative;
                        transform: rotate(45deg);
                        transition: left 300ms ease-in-out;
                        width: 12px;
                    }

                    &::before {
                        opacity: 0;
                    }

                    &:hover {
                        cursor: pointer;

                        &::after {
                            left: 5px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $screen-md-min) {

    .cover-page {
        .cover {
            .centered-group {
                width: 450px;
                .my-name {
                    font-size: 2.125rem;
                }
                .big-letters {
                    div {
                        font-size: 90.4px;
                    }
                }
                .contact-info {
                    flex-direction: row;
                    font-size: 0.77rem;
                    gap: 8px;
                    div:nth-child(2) {
                        display: unset;
                    }
                }
            }
        }
    }
    
    section.who-i-am, section.what-i-do {
        padding: 5em 0;
    }
    section.what-i-do {
        > table {
            padding: 0 48px;
        }
    }
}