/*  FOOTER  */
.footer {
    align-items: center;
    background: $theme_primary;
    display: flex;
    flex-direction: column;
    gap: calc(#{$base_unit} * 2);
    justify-content: center;
    //margin: calc(#{$base_unit} * 2) calc(#{$marginH} * -1) 0;
    min-height: 192px;
    padding: 36px 48px;
    .footer-section {
      align-items: center;
      display: flex;
      flex-direction: column;
      font-size: $base_unit;
      gap: $base_unit;
      .footer_title {
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        user-select: none;
      }
      .social, .copyright {
        align-items: center;
        display: flex;
        width: 156px;
      }
      .social {
        justify-content: space-between;
        a img {
          transition: all ease-in-out 250ms;
        }
        &:hover {
          a {
            img {
              opacity: .5;
            }
            &:hover img {
              opacity: 1;
            }
          }
        }
      }
      .copyright {
        justify-content: center;
        user-select: none;
      }
    }
  }
  @media only screen and (min-width: 568px) {
    .footer {
      //flex-direction: row;
      //justify-content: flex-end;
      align-items: flex-end;
      gap: $base_unit;
      .footer-section {
        flex-direction: row;
        .copyright {
          justify-content: flex-end;
        }
      }
    }
  }