.gallery {
    margin: 0 auto;
    padding: 1rem 0;
    &.masonry {
        display: flex;
        flex-flow: row wrap;
        //flex-direction: column;
        justify-content: center;
        gap: 1rem;
        width: 100%;
        max-width: 1024px;
        .image-group {
            width: calc((100% - 2rem - 1px)/3);
            img {
                width: 100%;
                border-radius: 6px;
                cursor: pointer;
            }
            p.caption {
                text-align: center;
            }
        }
    }
    &.grid {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        gap: calc(#{$base_unit} / 2);
        max-width: $article_width;
        .image-group {
            width: 100px;
            img {
                width: 100px;
                border-radius: 6px;
                cursor: pointer;
            }
            p.caption {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 415px) {
    .gallery.masonry {
        .image-group {
            width: calc((100% - 2rem - 1px)/2);
        }
    }
}