@import "../../cssVariables.scss";

.lightbox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 1;
    color: black;
    background: white;
    min-height: 500px;
    max-height: 100%;
    max-width: 100%;
    width: 500px;
    border-radius: calc(#{$base_unit} / 4);
    opacity: 0;
    pointer-events: none;
    transition: all ease-in-out 300ms;
    &.active {
        opacity: 1;
        pointer-events: all;
        transform: translate(-50%, -50%);
        .close {
            top: 1rem;
            opacity: 1;
            &:hover {
                background: rgba($theme_accent,0.4);
                transition: all ease-in-out 200ms;
            }
        }
    }
    .close {
        height: 48px;
        width: 48px;
        border-radius: 24px;
        padding-bottom: 5px;
        display: grid;
        place-content: center;
        background: rgba($theme_accent,0.2);
        backdrop-filter: blur(9px);
        -webkit-backdrop-filter: blur(9px);
        font-size: 1.75rem;
        text-align: center;
        transform-origin: center;
        transform: rotate(45deg);
        position: absolute;
        opacity: 0;
        top: -2rem;
        right: 1rem;
        cursor: pointer;
        transition: all ease-in-out 200ms 200ms;
    }
    img {
        width: 100%;
        pointer-events: none;
    }
    .caption {
        background: rgba($theme_background, 1);
        border-radius: calc(#{$base_unit} / 4);
        padding: calc(#{$base_unit}/2);
    }
}