@import "./cssVariables.scss";
@import "./cssAnimations.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
// BFD4DA
body {
  background: #BFD4DA;
  height: 100vh;

  .App {
    color: $theme_background;
    background: $theme_accent;
    min-height: 100vh;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include txt_default;
}

h1 {
  font-size: calc(#{$base_unit} * 4.5); //72
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.18em;
}

h2 {
  font-size: calc(#{$base_unit} * 2.25); //36
  text-transform: uppercase;
  font-weight: 500;
}

h3 {
  font-size: calc(#{$base_unit} * 1.5); //24
  text-transform: uppercase;
  font-weight: 800;
  color: $theme_primary;
}

.content {
  padding: 64px $marginH 0;
}

.cover-page {
  //height: calc(100vh - 72px);
  display: grid;
  //grid-template-rows: 6fr 1fr;
  place-items: center;
  animation: fadeIn ease-in-out 700ms, dropIn ease-in-out 700ms;

  h1 {
    font-size: 8vw;
    padding-bottom: 1vw;
    white-space: nowrap;
  }

  h2 {
    font-size: 5vw;
    white-space: nowrap;
  }
}
//LIGHTBOX
.lightbox-matte {
  background: rgba(0,0,0,.5);
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 100%;
  left: 0px;
  opacity: 0;
  pointer-events: none;
  transition: all ease-in-out 300ms;
  &.active {
    opacity: 1;
    bottom: 0px;
    pointer-events: all;
  }
}

//Articles
.article-content {
  color: $theme_primary;
  color: $theme_background;
  animation: fadeIn ease-in-out 300ms, slideIn_bottom ease-in-out 500ms;
  h2 {
    text-transform: none;
    font-weight: 600;
    letter-spacing: -0.03em;
    text-align: center;
    padding-bottom: $base_unit;
  }
  h3, h4, p, ol, ul, .combination-block {
    max-width: 700px;
    margin: 0 auto;
    padding-top: $base_unit;
  }
  h3 {
    color: inherit;
    font-weight: 700;
    letter-spacing: 0.05em;
    padding-top: calc(#{$base_unit} * 2.5);
  }
  h4 {
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.01em;
    padding-top: calc(#{$base_unit} * 2);
    &.centered {
      text-align: center;
    }
  }
  p {
    //background: rgba($theme_background, 0.5);
    margin-bottom: $base_unit;
    line-height: 135%;
    &.centered {
      text-align: center;
    }
    &.caption {
      font-size: smaller;
      font-style: italic;
      color: rgba($theme_background,0.7);
    }
    a {
      color: $theme_accent;
      filter: brightness(0.6) saturate(4);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  ul, ol {
    padding-left: $base_unit;
    line-height: calc(#{$base_unit} * 1.25);
    margin-bottom: $base_unit;
    li {
      margin-bottom: calc(#{$base_unit}/3);
    }
  }
}

/* YOUTUBE EMBED */
.video-responsive {
  overflow: hidden;
  margin-top: $base_unit;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  iframe {
    left: 50%;
    top: 0;
    height: 100%;
    width: 100%;
    max-width: 700px;
    max-height: 393.75px;
    transform: translateX(-50%);
    position: absolute;
  }
}

/*  FOOTER  */
.footer {
  margin: calc(#{$base_unit} * 2) calc(#{$marginH} * -1) 0;
  min-height: 192px;
  background: #5d5d5d;
  padding: 36px 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(#{$base_unit} * 2);
  .footer-section {
    display: flex;
    gap: $base_unit;
    flex-direction: column;
    align-items: center;
    font-size: $base_unit;
    .footer_title {
      font-weight: 400;
      font-size: 24px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }
    .social, .copyright {
      width: 156px;
      display: flex;
      align-items: center;
    }
    .social {
      justify-content: space-between;
    }
    .copyright {
      justify-content: center;
    }
  }
}
@media only screen and (min-width: 568px) {
  .footer {
    //flex-direction: row;
    //justify-content: flex-end;
    align-items: flex-end;
    gap: $base_unit;
    .footer-section {
      flex-direction: row;
      .copyright {
        justify-content: flex-end;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .cover-page {
    h1 {
      font-size: 61px;
    }

    h2 {
      font-size: 38px;
    }
  }
  .video-responsive {
    padding-bottom: 393.75px;
  }
}